<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="NavBar.css">
</head>
<body>
    <!-----------------------------------Footer start---------------------------------------->
<footer>
    <div class="footer-container">
        <div>
            <a href="#">
                <img src="img/logo.png" alt="pehesaralanka Tours" height="100" width="100" style="object-fit: contain" />
                            <h2 style="margin-bottom: 5px;"><P></P>Pehesaralanka Tours</h2>
            <!-- </a>
            <div class="payment-section">
                 <img
                     src="img/THINGS TO DO 5.jpg"
                     alt="visa" />
                 <img src="img/THINGS TO DO 9.jpg"
                     alt="mastercard" />
             </div> -->
        </div>
        <div>
            <h2>Pehesaralanka Tours (Pvt) Ltd.,</h2>
            <p>Address</p>
            <p>Tel: +94 76 468 3423</p>
            <p>E-mail: <a href="mailto:inquiries@pehesaralanka.com" style="text-decoration: underline;">inquiries@pehesaralanka.com</a></p>
       </div>
       <div>
        <h2>Tours</h2>
                     <li><a href="photogrphytour.html">Sri Lanka Photography</a></li>
                      <li><a href="SrilankaBeachTour.html">Sri Lanka Beach</a></li>
                       <li><a href="honeymoontour.html">Sri Lanka Honeymoon</a></li>
                      <li><a href="SrilankaWildTOur.html">Sri Lanka Wildlife</a></li>
                      <li><a href="Ramayanatour.html">Sri Lanka Ramayana</a></li>
                 <li><a href="Ella.html">Ella Day tour</a></li>
                  <li><a href="KandyDayTour.html">Kandy day tour</a></li>
                   <li><a href="Nuwaraeliya.html">Nuwara Eliya Day Tour</a></li>
                  <li><a href="Pinawala.html">Pinnawala Elephant Orphanage Tour</a></li>
             </ul>
        </li>
        </ul>
    </div>
    <div>
        <h2>Quick Links</h2>
         <ul>
             <li><a href="index.html">Home</a></li>
           <li><a href="Contact.html">Contact Us</a></li>
           <li><a href="Gallerypage.html">Gallery</a></li>
           <li><a href="ThingsToDo.html">Things to do</a></li>
           <li><a href="AboutUs.html">About</a></li>
         </ul>
     </div>
       <div>
          <h2>Terms & Privacy</h2>
           <ul>
              <li><a href="#">Terms & Conditions</a></li><li><a href="#">Privacy Policy</a></li>
           </ul>
           <h2 style="margin: 20px 0 10px;">Get the latest updates</h2>
           <div class="social-icons-footer">
                  <a href="https://www.facebook.com/tourslanka" aria-label="Facebook" target="_blank">
                       <i class="fab fa-facebook-f"></i>
                   </a>
                   <a href="https://www.instagram.com/tourslankavacations/" aria-label="Instagram"    target="_blank">
                       <i class="fab fa-instagram"></i>
                 </a>
            </div>
       </div>
    </div>
    <div class="bottom-footer">
        <p class="copyright-bottom">© 2000 - 2025 pehesaralanka All rights reserved.</p>
        <p>Solution By <a href="https://gobiharan1.github.io/Myself/">Vijayan Gobiharan & Dilan Rashmika</a></p>
    </div>
</footer>
<!----------------------------------- end Footer start---------------------------------------->
<script src="navbar.js"></script>
</body>
</html>